<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="p-3" *ngIf="(profile$ | async) as profile">
        <lib-ngx-tweet [profile]="profile" (tweet)="tweet($event)"></lib-ngx-tweet>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-lg-12 mb-lg-0 mb-4">
    <div class="card" *ngIf="(posts$ | async) as posts">
      <div
        class="feed h-10 p-3"
        *ngIf="posts!.length > 0; else emptyState"
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="50"
        [scrollWindow]="false"
        (scrolled)="onScroll()"
      >
        <lib-ngx-post
          *ngFor="let post of posts"
          [post]="post"
          (removeTweet)="removeTweet($event)"
        ></lib-ngx-post>
      </div>
    </div>
  </div>
</div>

<ng-template #emptyState>
  <div class="container">
    <div class="col-12 my-4">
      <div class="row text-center">
        <div>OOPS!</div>
        <p>Não há nenhum tweet</p>
      </div>
    </div>
  </div>
</ng-template>
